* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #000;
    color: #fff;
    text-shadow:
            0 0 1px #fff,
            0 0 2px #fff,
            0 0 5px #fff,
            0 0 11px #0fa,
            0 0 20px #0fa,
            0 0 30px #0fa,
            0 0 55px #0fa,
            0 0 80px #0fa;
}

.main__container{
    width: 320px;
    height: 320px;
    margin: auto;
    margin-top: 30px;
}

.aside__container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.game__header {
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
    color: #fff;
    text-shadow:
            0 0 1px #fff,
            0 0 2px #fff,
            0 0 5px #fff,
            0 0 11px #0fa,
            0 0 20px #0fa,
            0 0 30px #0fa,
            0 0 55px #0fa,
            0 0 80px #0fa;
}

h2 {
    text-align: center;
    font-size: 25px;
}
.border-btm {
    border-bottom: 10px solid white;
}
.border-rt {
    border-right: 10px solid white;
}

.the-row {
    height: 100px;
}

.the-col {
    height: 100px;
    width: 100px;
    float: left;
    font-size: 100px;
    text-align: center;
    line-height: 100px;
}

.the-col:hover {
    background-color: lightblue;
}

.option__text {
    margin-top: 1px;
    font-size: 30px;
}

.start__btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background: #000;
    box-shadow: 0 0 1em 0 #00ffaa;
    border-radius: 10px;
    text-shadow:
            0 0 1px #fff,
            0 0 2px #fff,
            0 0 5px #fff,
            0 0 11px #0fa,
            0 0 20px #0fa,
            0 0 30px #0fa,
            0 0 55px #0fa,
            0 0 80px #0fa;
}

.start__btn:hover {
    cursor: pointer;
}

.all-btn-row {
    margin-top: 90px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row-reverse;
}

.options__title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}

.flex-option {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: 83px;
    height: 45px;
    margin: 0 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .3s;
    border-radius: 26px;
}

.switch input {display:None}
.slider:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: .3s;
    border-radius: 38px;
}

input:checked + .slider {
    background-color: #00ffaa
}

input:checked + .slider:before {
    transform: translateX(38px);
}

.center-div {
    margin: auto;
    text-align: center;
    width: 50%;
}